<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Jomhuria&display=swap"
        rel="stylesheet">
    <title>Details</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Castoro', serif;
        }

        .container {
            border: 1px solid black;
            border-radius: 5px;
            width: 300px;
            margin: 10px;
            background-color: #006d77;
            color: #edf6f9;
        }

        h1 {
            margin: 0 10px;
        }

        .body {
            border: 1px solid #ffddd2;
            margin: 10px 11px;
            border-radius: 5px;
            /* height: 120px; */
            background-color: #83c5be;
        }
        .bottom {
            font-size: 30px;
        }
        .todo {
            font-size: 20px;
            margin: 0px 20px 0px 12px;
        }
        button {
            padding: 5px 15px;
            margin-left: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        .back a {
            text-decoration: none;
        }
        form {
            display: inline;
        }
        .rando {
            margin: 10px;
            margin-bottom: 20px;
            color: #e29578;
        }
        hr {
            color: #edf6f9;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Today</h1>
        </div>
        <div class="body">
            <h1 class="bottom">To-do: </h1>
            <h1 class="todo"><%= post.title %></h1>
            <hr>
            <p class="rando"><%= Quote.getRandomQuote() %> </p>
            <hr>
            <button class="back"><a href="/home">Back</a></button>
            <form action="/home/<%= post._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </div>

    </div>

</body>

</html>